.gallery {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.gallery li {
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    background-color: #c29d84;
}

.gallery li:hover {
    transform: translateY(-4px);
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.gallery ul {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;   
   
}

.gallery ul li {
    width: 50%;
    margin-bottom: 12px;
}

/* Текст */
.gallery li h3 {
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 3px;
}

.gallery li p {
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px;
}

.show-more{
    display: block;
}

.btn-hidden {
    display: none;
}

.show-more {
    margin: 0px auto 20px auto;
    border-radius: 100px;
    padding: 10px 24px;
    width: 158px;
    height: 44px;
    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}

.show-more:hover {
    opacity: 0.5;
}