/* ----------- HEADER ----------- */
.page-header {
  background-color: #c29d84;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ----------- FORM ----------- */
.form {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.form input {
  width: 300px;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #6f4e37;
  font-size: 16px;
  transition: 0.3s;
  background-color: transparent;
}

.form input:focus {
  border-color: #e0cbb4;
  background-color: transparent;
  outline: none;
}

.form button {
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.form button:hover {
  opacity: 0.5;
}